*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: aquamarine;
    height: 20vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;left: 0;right: 0;
    border-radius: 10px;
}

button{
    width: 15vw;
    height: 7vh;
    font-size: 20px;
    border-radius: 12px;
    background-color: black;
    color: antiquewhite;
    cursor: pointer;
}
button:hover{
    background-color: beige;
    color: black;
}

