*{
    box-sizing: border-box;
    padding: 0;margin: 0;
}
/* body{
    background-color: antiquewhite;
} */

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    justify-content: center;
    align-items: center;
}
.counter{
    margin-bottom: 40px;
    /* width: 200px; */
    height: 150px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    font-weight: bold;
    text-shadow: 0px 6px 10px rgb(14, 70, 237);
    box-shadow: 0px 3px 26px 9px brown;
    border-radius: 25px;
}

button{
    width: 150px;
    height: 30px;
    /* border-radius: 15px; */
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: -5px;
    border:none;
}

button:hover{
    background-color: black;
    color: antiquewhite;
}

#btn1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color:  #2A2F18;
    color:rgb(219,246,189) ;
}

#btn3{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:  #2A2F18;
    color:rgb(219,246,189) ;
}

#btn2{
    border: 2px solid;
    background-color:  #2A2F18;
    color :rgb(219,246,189);
    border: none;
    
}